/*
 * @Author: Li shirun 
 * @Date: 2021-10-16 19:22:24 
 * @Last Modified by: Li shirun
 * @Last Modified time: 2021-10-31 15:43:46
 */
@import url('//at.alicdn.com/t/font_2885080_cxbbp3ja2rd.css');
/* 全局样式表 */
html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
}

.el-breadcrumb {
	margin-bottom: 15px;
	font-size: 12px;
}

.el-card {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15) !important;
}
.el-table {
	margin-top: 15px;
	font-size: 12px;
}
.el-pagination {
	margin-top: 15px;
}
.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
	border-color: #67c23a;
}
.el-form-item.is-success .el-input-group__append .el-input__inner,
.el-form-item.is-success .el-input-group__prepend .el-input__inner {
	border-color: transparent;
}
.el-form-item.is-success .el-input__validateIcon {
	color: #67c23a;
}
